.banner {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 840px;
  @include ipad {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner-sm.png);
    height: 394px;
  }
  &-wrap {
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 840px;
    @include ipad {
      height: 394px;
    }
  }
  &-title {
    & span {
      font-size: 36px;
      line-height: 54px;
      @include text-rwd(20, 30, 16);
    }
  }
}
h3 {
  font-size: 64px;
  line-height: 96px;
  font-weight: bold;
  text-align: right;
  @include text-rwd(48, 72, 32);
}
.profession {
  background-color: $bgc;
  &-wrap {
    @include wrap(60px, 80px, 0px);
    @include laptop {
      padding-bottom: 0;
    }
    @include ipad {
      @include wrap(32px, 8px, 0px);
    }
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include laptop {
      justify-content: space-around;
    }
  }
  &-card {
    width: 25%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & p {
      text-align: left;
      font-size: 16px;
      line-height: 24px;
      @include mb-rwd(0px, 56px, 32px);
    }
    @include laptop {
      width: 35%;
      padding: 0 10px;
    }
    @include ipad {
      width: 100%;
      padding: 0 60px;
    }
  }
  &-img {
    width: 100px;
    height: 100px;
    margin-bottom: 16px;
  }
  &-cardTitle {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 8px;
    font-weight: bold;
  }
}
h2 {
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  @include text-rwd(32, 48, 24);
}
.img-dollar,
.img-clock,
.img-heart {
  display: block;
  margin: 0 auto;
  width: 83.33px;
}
.img-glasses {
  width: 100px;
}
.classic {
  @include wrap(60px, 48px, 15px);
  @include laptop {
    @include wrap(40px, 48px, 39px);
  }
  @include ipad {
    padding: 32px 15px;
  }
}
.classic-catena {
  color: $primary;
  & li {
    display: flex;
    @include mb-rwd(32px, 8px, 8px);
    & img {
      width: 57.5%;
      @include ipad {
        display: none;
      }
    }
  }
}
.classic-catena-sunglasses {
  flex-direction: row-reverse;
  @include laptop {
    flex-direction: row;
  }
  & P {
    @include me-rwd(30px,8px)
  }
}
.classic-catena-artical {
  width: 42.5%;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  @include ms-rwd(30px, 0px);
  font-size: 48px;
  line-height: 72px;
  @include text-rwd(28, 72);
  @include ipad {
    width: 100%;
    justify-content: center;
  }
}
.classic-catena-sunglasses > .classic-catena-artical {
  justify-content: flex-end;
  @include ms-rwd(30px, 0px);
  @include laptop {
    justify-content: flex-start;
  }
  @include ipad {
    justify-content: center;
  }
}
.classic-catena-articalIcon {
  font-size: 48px;
  margin-right: 10px;
  @include laptop {
    font-size: 40px;
    margin-right: 8px;
  }
}
@include ipad {
  .classic-catena-optical {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/product-1.png);
  }
  .classic-catena-sunglasses {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/product-2.png);
  }
  .classic-catena-functional {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/product-3.png);
  }
  .classic-catena-optical,
  .classic-catena-sunglasses,
  .classic-catena-functional {
    width: 100%;
    height: 134px;
    background-size: cover;
    object-fit: fill;
  }
}
.designGlasses {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/bg.png);
  height: 705px;
  background-position: center;
  @include laptop {
    height: 452px;
    background-position: 30% 30%;
  }
  @include ipad {
    height: auto;
  }
}
.design-wrap {
  @include wrap(60px, 80px, 15px);
  @include laptop {
    @include wrap(40px, 56px, 39px);
  }
  @include ipad {
    @include wrap(32px, 24px, 15px);
  }
}
.design-content {
  display: flex;
  justify-content: space-between;
  font-size: 72px;
  line-height: 108px;
  font-weight: bold;
  @include laptop {
    font-size: 32px;
    line-height: 25px;
    flex-wrap: wrap;
  }
}
.design-double,
.design-youth {
  width: 540px;
  height: 455px;
  background-size: cover;
  @include desktop {
    width: 48%;
  }
  @include laptop {
    width: 330px;
    height: 278px;
  }
  @include ipad {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
  }
}
.design-double {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/product-8.png);
}
.design-youth {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/product-9.png);
}
.design-curtain {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(256, 256, 256, 0.5);
  height: 455px;
  color: $primary;
  @include laptop {
    height: 278px;
  }
  @include ipad {
    height: 291px;
  }
}
.recommened {
  @include wrap(60px, 80px, 0px);
  @include laptop {
    @include wrap(40px, 24px, 0px);
  }
  @include ipad {
    padding-top: 32px;
  }
}
.recommened-cards {
  display: flex;
  color: $dark;
  @include laptop {
    flex-wrap: wrap;
  }
}
.recommened-card {
  width: 25%;
  padding: 0 15px;
  @include mb-rwd(0px, 32px, 16px);
  @include laptop {
    width: 50%;
  }
  @include ipad {
    width: 100%;
  }
}
.card {
  box-shadow: 0px 2px 6px #00000029;
  &-img {
    img {
      display: block;
      width: 100%;
      object-fit: fill;
      height: 256px;
    }
  }
  &-artical {
    padding: 16px;
    height: 204px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include laptop {
      padding: 16px 24px;
    }
  }
  &-customer {
    font-size: 14px;
    line-height: 21px;
    & p {
      font-size: 16px;
      line-height: 24px;
    }
  }
  &-date {
    font-size: 14px;
    line-height: 21px;
    color: #707070;
  }
}
.contact {
  background-color: $bgc;
  &-wrap {
    @include wrap(60px, 80px, 205px);
    color: #000;
    @include laptop {
      @include wrap(40px, 56px, 159px);
    }
    @include ipad {
      @include wrap(30px, 40px, 15px);
    }
    & p {
      font-size: 20px;
      line-height: 30px;
      @include mb-rwd(20px, 16px, 8px);
    }
  }
  &-title {
    @include mb-rwd(24px, 24px, 20px);
  }
}
form {
  font-size: 16px;
  line-height: 24px;
}
input[type="text"],
input[type="tel"],
input[type="email"],
.textarea {
  width: 100%;
  border: 1px solid #000;
  @include mb-rwd(16px, 8px, 8px);
  font-size: 16px;
  line-height: 24px;
  @include laptop {
    font-size: 14px;
    line-height: 21px;
  }
}
input[type="text"] {
  padding: 12px 16px 14px 16px;
}
input[type="tel"],
input[type="email"] {
  padding: 14px 16px 15px 16px;
}
.textarea {
  height: 136px;
  padding: 12px 16px;
  margin-bottom: 16px;
}
.checkbox {
  display: flex;
  margin-right: 4px;
  @include mb-rwd(24px, 20px, 20px);
  & p {
    font-size: 16px;
    line-height: 24px;
    @include text-rwd(14px, 21px);
  }
}
button {
  background-color: $primary;
  color: #fff;
  border: none;
  font-size: 16px;
  line-height: 24px;
  @include text-rwd(14, 21);
  padding: 16px 143px;
  @include laptop {
    padding: 10px 77px;
  }
}
button:hover {
  background-color:orange;
  outline: 1px solid #fff;
}
.button-wrap {
  text-align: center;
}
