.header {
  padding: 30px 88px;
  background-color: $primary;
  font-size: 20px;
  line-height: 30px;
  @include laptop {
    padding: 30px 40px;
  }
  @include ipad {
    padding: 0px 0px;
  }
}
.header-wrap {
  max-width: 1744px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include ipad {
    flex-direction: column;
  }
}
.header h1 {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  width: 80px;
  height: 49px;
  background-repeat: no-repeat;
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png);
  @include ipad {
    margin: 10px 0;
    width: 48px;
    height: 29px;
    background-size: cover;
  }
}
.header-list {
  display: flex;
  @include ipad {
    width: 100%;
    flex-wrap: wrap;
  }
}
.header-list li > a {
  color: $light;
  display: block;
  padding: 10px 32px;
  text-decoration: none;
  @include laptop {
    padding: 0 20px;
  }
  @include ipad {
    padding: 8px 0;
  }
}
.header-list li > a:hover {
  color: orange;
  @include ipad {
    background-color: orange;
    color: $light;
  }
}
@include ipad {
  .header-list > li {
    text-align: center;
    width: 50%;
    outline: 1px solid $light;
  }
}
.footer {
  background-color:  $primary;
  padding-bottom: 39px;
  padding-top: 32px;
  color: $light;
  @include ipad {
    padding-top: 24px;
    padding-bottom: 16px;
  }
}
.footer-wrap {
  padding: 0 15px;
  @include laptop {
    padding-right: 39px;
    padding-left: 48px;
  }
  @include ipad {
    padding: 0 15px;
  }
}
.footer-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
  @include ipad {
    border-bottom: 1px solid $light;
    align-items: flex-start;
    margin-bottom: 0px;
  }
}
.footer-list {
  display: flex;
  @include ipad {
    display: none;
  }
}
.footer-list li > a {
  color: $light;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  display: block;
  padding-right: 48px;
  @include laptop {
    padding-right: 40px;
  }
}
.footer-contact-rwd {
  display: none;
  @include ipad {
    display: block;
    padding-bottom: 24px;
  }
}
.footer-icons {
  display: flex;
}
.footer-icons li > a {
  display: block;
  padding-left: 32px;
  @include laptop {
    padding-left: 24px;
  }
}
.footer-contact {
  border-bottom: 1px solid $light;
  padding-bottom: 24px;
  @include laptop {
    padding-bottom: 20px;
  }
  @include ipad {
    display: none;
  }
}
.footer-contact li,
.footer-contact-rwd li {
  display: flex;
  align-items: center;
}
.footer-contact li img,
.footer-contact-rwd li img {
  display: block;
}
.footer-contact li > a {
  color: $light;
  text-decoration: none;
  font-size: 36px;
  line-height: 54px;
  font-family: Roboto, sans-serif;
  @include laptop {
    font-size: 20px;
    line-height: 30px;
  }
}
.footer-cotact-phone {
  margin-right: 22px;
  @include laptop {
    width: 18px;
    height: 18px;
    margin-right: 11px;
  }
}
.footer-cotact-mail {
  width: 40px;
  height: 32px;
  margin-right: 20px;
  @include laptop {
    width: 20px;
    height: 16px;
    margin-right: 8px;
  }
}
.footer-remarks {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  font-size: 16px;
  line-height: 24px;
  @include laptop {
    margin-top: 36px;
  }
  @include ipad {
    display: block;
    font-size: 14px;
    line-height: 21px;
    margin-top: 16px;
  }
}
.footer-policy {
  display: flex;
  font-size: 14px;
  line-height: 21px;
  @include ipad {
    display: block;
  }
}
@include laptop {
  .footer-icons li > a img {
    width: 24px;
    height: 24px;
  }
}
@include ipad {
  .footer-contact-rwd li > a {
    color: $light;
    text-decoration: none;
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 6px;
  }
  .footer-remarks > p {
    margin-bottom: 8px;
  }
  .footer-policy > li {
    margin-bottom: 8px;
  }
}
.contentWrap {
  min-height: calc(100vh - 200px);
}
