.header {
  padding: 30px 88px;
  background-color: $primary;
  font-size: 20px;
  line-height: 30px;
  @include laptop {
    padding: 30px 40px;
  }
  @include ipad {
    padding: 0px 0px;
  }
}
.header-wrap {
  max-width: 1744px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include ipad {
    flex-direction: column;
  }
}
.header h1 {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  width: 80px;
  height: 49px;
  background-repeat: no-repeat;
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png);
  @include ipad {
    margin: 10px 0;
    width: 48px;
    height: 29px;
    background-size: cover;
  }
}
.header-list {
  display: flex;
  @include ipad {
    width: 100%;
    flex-wrap: wrap;
  }
  & li {
    @include ipad {
      text-align: center;
      width: 50%;
      outline: 1px solid $light;
    }
    & a {
      color: $light;
      display: block;
      padding: 10px 32px;
      text-decoration: none;
      @include laptop {
        padding: 0 20px;
      }
      @include ipad {
        padding: 8px 0;
      }
    }
  }
  & li:hover {
    & a {
      color: orange;
      @include ipad {
        background-color: orange;
        color: $light;
      }
    }
  }
}
.footer {
  background-color: $primary;
  padding-bottom: 39px;
  padding-top: 32px;
  color: $light;
  @include ipad {
    padding-top: 24px;
    padding-bottom: 16px;
  }
}
.footer-wrap {
  padding: 0 15px;
  @include laptop {
    padding-right: 39px;
    padding-left: 48px;
  }
  @include ipad {
    padding: 0 15px;
  }
}
.footer-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
  @include ipad {
    border-bottom: 1px solid $light;
    align-items: flex-start;
    margin-bottom: 0px;
  }
}
.footer-list {
  display: flex;
  @include ipad {
    display: none;
  }
  & li a {
    color: $light;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    display: block;
    padding-right: 48px;
    @include laptop {
      padding-right: 40px;
    }
  }
}
.footer-contact-rwd {
  @include ipad {
    padding-bottom: 24px;
  }
  & li {
    display: flex;
    align-items: center;
    & a {
      @include ipad {
        color: $light;
        text-decoration: none;
        font-size: 16px;
        line-height: 30px;
        padding-bottom: 6px;
      }
    }
  }
  & img {
    display: block;
  }
}
.footer-icons {
  display: flex;
  & li a {
    display: block;
    padding-left: 32px;
    @include laptop {
      padding-left: 24px;
    }
    & img {
      transition: all 0.5s ease;
      @include laptop {
        width: 24px;
        height: 24px;
        
      }
    }
  }
  & li a:hover img {
    transform: scale(1.2);
  }
  
}
.footer-contact {
  border-bottom: 1px solid $light;
  padding-bottom: 24px;
  @include laptop {
    padding-bottom: 20px;
  }
  &-phone {
    margin-right: 22px;
    @include laptop {
      width: 18px;
      height: 18px;
      margin-right: 11px;
    }
  }
  &-mail {
    width: 40px;
    height: 32px;
    margin-right: 20px;
    @include laptop {
      width: 20px;
      height: 16px;
      margin-right: 8px;
    }
  }
  & li {
    display: flex;
    align-items: center;
    & a {
      color: $light;
      text-decoration: none;
      font-size: 36px;
      line-height: 54px;
      font-family: Roboto, sans-serif;
      @include laptop {
        font-size: 20px;
        line-height: 30px;
      }
    }
    & img {
      display: block;
    }
  }
}
.footer-remarks {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 24px;
  @include text-rwd(16, 24, 14, 21);
  @include mt-rwd(32px, 36px, 16px);
  @include ipad {
    display: block;
  }
  & p {
    @include ipad {
      margin-bottom: 8px;
    }
  }
}
.footer-policy {
  display: flex;
  font-size: 14px;
  line-height: 21px;
  @include ipad {
    display: block;
  }
  & li {
    @include ipad {
      margin-bottom: 8px;
    }
  }
}
.contentWrap {
  min-height: calc(100vh - 200px);
}
