@mixin desktop {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin laptop {
  @media (max-width: 996px) {
    @content;
  }
}
@mixin ipad {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin wrap($top, $bottom, $x) {
  padding: $top $x $bottom $x;
}
@mixin text {
  font-size: 16px;
  line-height: 24px;
}
@mixin text-sm {
  font-size: 14px;
  line-height: 21px;
}
@mixin text-lg {
  font-size: 48px;
  line-height: 72px;
}
@mixin d-none {
  display: none;
}
@mixin me-rwd($right,$rightL,$rightI) {
  margin-right: $right;
  @include laptop {
    margin-bottom: $rightL;
  }
  @include ipad {
    margin-bottom: $rightI;
  }
}
@mixin mb-rwd($desktop, $laptop, $iapd) {
  margin-bottom: $desktop;
  @include laptop {
    margin-bottom: $laptop;
  }
  @include ipad {
    margin-bottom: $iapd;
  }
}
@mixin mt-rwd($desktop, $laptop, $iapd) {
  margin-top: $desktop;
  @include laptop {
    margin-top: $laptop;
  }
  @include ipad {
    margin-top: $iapd;
  }
}
@mixin text-rwd($fzL,$lhL,$fzI,$lhI) {
  @include laptop {
    font-size: $fzL;
    line-height: $lhL;
  }
  @include ipad {
    font-size: $fzI;
    line-height: $lhI;
  }
}
