@mixin desktop {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin laptop {
  @media (max-width: 996px) {
    @content;
  }
}
@mixin ipad {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin wrap($top, $bottom, $x) {
  padding: $top $x $bottom $x;
}
@mixin d-none {
  display: none;
}
@mixin ms-rwd($left,$leftL:$left,$leftI:$leftL) {
  margin-left: $left;
  @include laptop {
    margin-left: $leftL;
  }
  @include ipad {
    margin-left: $leftI;
  }
}
@mixin me-rwd($right,$rightL:$right,$rightI:$rightL) {
  margin-right: $right;
  @include laptop {
    margin-right: $rightL;
  }
  @include ipad {
    margin-right: $rightI;
  }
}
@mixin mb-rwd($desktop, $laptop:$desktop, $iapd:$laptop) {
  margin-bottom: $desktop;
  @include laptop {
    margin-bottom: $laptop;
  }
  @include ipad {
    margin-bottom: $iapd;
  }
}
@mixin mt-rwd($desktop, $laptop:$desktop, $iapd:$laptop) {
  margin-top: $desktop;
  @include laptop {
    margin-top: $laptop;
  }
  @include ipad {
    margin-top: $iapd;
  }
}
@mixin text-rwd($fzL,$lhL,$fzI:$fzL,$lhI:$lhL) {
  @include laptop {
    font-size: $fzL+px;
    line-height: $lhL+px;
  }
  @include ipad {
    font-size: $fzI+px;
    line-height: $lhI+px;
  }
}