.path-wrap {
  padding: 0 15px;
  margin-top: 8px;
  @include laptop {
    padding: 0 39px;
  }
  @include ipad {
    padding: 0 15px;
  }
  & a {
    text-decoration: none;
    color: $primary;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    @include laptop {
      font-size: 16px;
    }
    @include ipad {
      font-size: 14px;
    }
  }
  & p {
    font-size: 16px;
    line-height: 24px;
    color: #000;
    margin-bottom: 8px;
    @include laptop {
      font-size: 14px;
    }
    @include ipad {
      line-height: 21px;
    }
    & span {
      color: $primary;
    }
  }
}
.planning-detail-area {
  display: flex;
  padding-bottom: 160px;
  @include laptop {
    padding: 0 14px;
  }
  @include ipad {
    padding: 0;
  }
}
.planning-detail-wrap {
  padding: 0 15px;
  width: 75%;
  @include ipad {
    width: 100%;
  }
}
.planning-detail-title {
  font-size: 48px;
  line-height: 95px;
  text-align: left;
  font-weight: normal;
  color: #000;
  @include laptop {
    font-size: 32px;
    line-height: 46px;
  }
  @include ipad {
    font-size: 20px;
    line-height: 30px;
    color: $primary;
  }
}
.planning-detail-secondtitle {
  font-size: 28px;
  line-height: 42px;
  color: #000;
  margin-bottom: 24px;
  font-family: "Roboto";
  @include laptop {
    font-size: 16px;
    line-height: 42px;
  }
  @include ipad {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 21px;
  }
}
.planning-detail-mainList {
  & li {
    & p {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 40px;
      color: #0A0A0A;
      opacity: 0.6;
      @include laptop {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 24px;
      }
      @include ipad {
        margin-bottom: 20px;
      }
    }
    & img {
      margin-bottom: 24px;
      @include laptop {
        margin-bottom: 16px;
      }
      @include ipad {
        padding-top: 4px;
      }
    }
  }
}
.share {
  align-items: center;
  padding-top: 8px;
  padding-bottom: 20px;
  border-bottom: 1px solid #707070;
  margin-bottom: 24px;
  @include laptop {
    padding-top: 4px;
    margin-bottom: 16px;
  }
  @include ipad {
    padding-top: 0;
    padding-bottom: 16px;
    margin-bottom: 10px;
  }
  & p {
    color: #0A0A0A;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    margin-right: 20px;
    @include laptop {
      font-size: 16px;
    }
  }
  & img {
    margin-right: 16px;
    @include laptop {
      width: 20px;
      height: 20px;
    }
  }
}
.PreNext-page {
  @include ipad {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  & a {
    text-decoration: none;
    color: #000;
    font-size: 19px;
    line-height: 30px;
    @include laptop {
      font-size: 16px;
    }
    @include ipad {
      font-size: 14px;
      margin-right: 8px;
    }
  }
  & .Pre-icon {
    margin-right: 12px;
    @include laptop {
      margin-right: 8px;
    }
    @include ipad {
      margin-right: 4px;
    }
  }
  & .Next-icon {
    margin-left: 12px;
    @include laptop {
      margin-left: 8px;
    }
    @include ipad {
      margin-left: 4px;
    }
  }
}
.tags {
  padding: 0 15px;
  width: 25%;
  @include ipad{
    padding: 0;
    width: 100%;
    margin-bottom: 56px;
  }
  & .tags-title {
    margin-bottom: 8px;
    @include ipad {
      display: flex;
      align-items: center;
    }
  }
  & .tags-title p {
    font-size: 28px;
    line-height: 42px;
    font-weight: bold;
    color: $primary;
    @include laptop{
      font-size: 20px;
    }
  }
  & a {
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    text-decoration: none;
    font-family: "Roboto";
    color: $primary;
    @include laptop {
      font-size: 16px;
    }
  }
}
.planning-detail-footer {
  @include laptop {
    padding: 0 39px;
  }
  @include ipad {
    padding: 0 15px;
  }
}